# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS resource forks
._*
dump.txt
*.py
*.js
migrate.*
*.cjs
*.mjs
!vite.config.js
!eslint.config.js
!src/**/*.js
!inline_script.js
.vercel
